DATABASE = mongodb://localhost/squakr
SECRET = mysecretstring
CLOUD_NAME = myCloudName
CLOUD_API_KEY = myCloudAPIKey
CLOUD_API_SECRET = myCl0udSecret
APP_NAME = Squakr
APP_URL = Squakr.fr
APP_HEADER = Squakr.fr
PORT = 3000
TOKEN = myDisc0rdToken
CHANNEL_ID = 012345678910
EMAIL_USER = contact@domain.ext
EMAIL_HOST = smtp.domain.ext
EMAIL_PASS = myeMailPwd
DEFAULT_FOLLOW_FR_1 = 5f1daf2680067f0017a9a7e8
DEFAULT_FOLLOW_FR_2 = 5f1ea87352f68c001720c9a3
DEFAULT_FOLLOW_EN_1 = 60091d51c4011a066b06e139
DEFAULT_FOLLOW_EN_2 = 5f1ea87352f68c001720c9a3
