extends layout
include mixins/_tweetForm
include mixins/_tweetCard
block content
	.double_wrap
		strong Utilisateur non trouvé.<br/><br/>
        if user
            strong Invitez vos amis dès maintenant pour qu'ils puissent obtenir ce superbe @ !
        else
            strong Inscrivez-vous dès maintenant pour obtenir ce superbe @ !
