include mixins/_loginForm
include mixins/_accountMenu
<!DOCTYPE html>
html(lang="fr")
	head
		meta(charset="UTF-8")
		meta(lang="fr")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel='stylesheet' href='/style.css')
		link(rel="shortcut icon" type="image/png" href="https://i.postimg.cc/m2D683NZ/nwittrfav.png")
		meta(property="og:title" content="Nwittr")
		meta(property="og:type" content="website")
		meta(name="keywords" content="nwittr, twitter, nwitter, clone, nathn, free, français, france, open, source, social, network, website")
		meta(name="og:site_name" content="Nwittr")
		meta(property="og:url" content="nwittr.cleverapps.io/")
		meta(property="og:image" content="https://i.imgur.com/40RBZDM.png")
		meta(property="og:description" content="Partagez vos pensées avec Nwittr")
		title Nwittr
		script.
			function GetURLParameter(sParam)
			{
			var sPageURL = window.location.search.substring(1);
			var sURLVariables = sPageURL.split('&');
			for (var i = 0; i < sURLVariables.length; i++)
			{
			var sParameterName = sURLVariables[i].split('=');
			if (sParameterName[0] == sParam)
			{
			return sParameterName[1];
			}
			}
			}
			function GetErrorString(err)
			{
			if(err == '200') return 'Le nom d\'utilisateur ne peut pas être vide'
			if(err == '201') return 'Le nom d\'utilisateur ne peut pas contenir d\'espaces'
			if(err == '202') return 'Le nom d\'utilisateur ne peut pas contenir de caractères spéciaux'
			if(err == '203') return 'L\'email ne peut pas être vide'
			if(err == '204') return 'L\'email spécifié n\'est pas valide'
			if(err == '205') return 'Le mot de passe ne peut pas être vide'
			if(err == '206') return 'La confirmation de mot de passe ne peut pas être vide'
			if(err == '207') return 'Les mots de passe ne correspondent pas'
			if(err == '208') return 'Un utilisateur est déjà inscrit avec ce nom d\'utilisateur'
			if(err == '209') return 'Un utilisateur est déjà inscrit avec cette adresse email'
			if(err == '300') return 'La connexion a échoué, veuillez réessayer'
			if(err == '301') return 'Vous devez être connecté pour effectuer cette action'
			return;
			}
			// The function actually applying the offset
			function offsetAnchor() {
			if(location.hash.length !== 0) {
			window.scrollTo(window.scrollX, window.scrollY - 300);
			}
			}

			// This will capture hash changes while on the page
			window.addEventListener("hashchange", offsetAnchor);
			window.setTimeout(offsetAnchor, 1);
	body
		.header
			.wrapper
				#logo
					h1.site_title
						a(href="/")
							img(src="https://i.imgur.com/40RBZDM.png" alt="Logo" width="25" height="25" style="border-radius: 50%;")
							|	Nwittr
				#navigation
					if user
						+accountMenu()
						span(style="padding: 0px 15px;")
								a(href="https://ennwittr.cleverapps.io/")
									img(src="https://cdn.webshopapp.com/shops/94414/files/54956666/the-united-kingdom-flag-icon-free-download.jpg" width="35px" style="vertical-align:middle; border-radius: 8px")
					else
						form.form_inline(action='/login' method='POST')
							span
								strong
									a(href="/register" style="color: #2C2F33;") S'inscrire
							span ​ · ​
							span
								strong
									a(href="/login" style="color: #2C2F33;") Se connecter
							span(style="padding: 0px 15px;")
								a(href="https://ennwittr.cleverapps.io/")
									img(src="https://cdn.webshopapp.com/shops/94414/files/54956666/the-united-kingdom-flag-icon-free-download.jpg" width="35px" style="vertical-align:middle; border-radius: 8px")
		<br/>
		.content_area
				h4(style="color: white; text-align: center;")
					script(type="text/javascript").
						if(GetURLParameter('err') == 301)
							document.write(GetErrorString(GetURLParameter('err')))
				block content
		.footer
			p
				small © 2020 Nwittr · v1.2.6 <br/>
					a(href='https://discord.gg/C8WPK2B' target='_blank' style="text-decoration: none; color: #fff;") Discord server
					a(href='https://github.com/Nathn/Nwittr' target='_blank' style="text-decoration: none; color: #fff;")  - Github
					a(href='https://twitter.com/Nwittr_app' target='_blank' style="text-decoration: none; color: #fff;")  - Twitter
					a(href='/cgu' target='_blank' style="text-decoration: none; color: #fff;")  - CGU <br/>



