extends layout
include mixins/_loginForm
block content
	.single_wrap
		.regform
			h1 Connectez-vous !
		h4(style="color: red;")
			script(type="text/javascript").
				if(GetErrorString(GetURLParameter('err')))
					document.write(GetErrorString(GetURLParameter('err')))
		+loginForm()
