extends layout
include mixins/_tweetForm
include mixins/_tweetCard
include mixins/_notificationCard
block content
	.single_wrap
		if notifications[0]
			if user && user.lang == 'en'
				h2 Unread notifications :
			else
				h2 Notifications non lues :
			each notification in notifications
				+notificationCard(notification)
		else
			if user && user.lang == 'en'
				h2 You don't have any unread notification.
			else
				h2 Vous n'avez aucune notification non lue.
