extends layoutprofile
include mixins/_tweetForm
include mixins/_squakCard
block content
	if user && reqUser._id.toString() == user._id.toString()
		+tweetForm()
	else
		.profile_banner(style=`background:url('${reqUser.banner || "/uploads/no-banner.jpg"}')`)
	nav
		a(href="#") Squaks
		a(href=`/${reqUser.username}/likes`) Likes
		.animation.start-home
	br
	if pinned
		.pinnedsquak
			h4(style="margin: 10px 0;")
				i.fa.fa-map-pin
				if user && user.lang == 'en'
					| &#32;Pinned squak
				else
					| &#32;Squak épinglé
			+squakCard(pinned)
	each squak in tweets
		+squakCard(squak)
