extends layoutprofile
include mixins/_squakForm
include mixins/_squakCard
block content
	.profile_banner(style=`background:url('${reqUser.banner || "/uploads/no-banner.jpg"}')`)
	nav
		a(href=`/${reqUser.username}`) Squaks
		a(href="") Likes
		.animation.start-about
	br
	each squak in likes
		+squakCard(squak)

