extends layout
include mixins/_regForm
block content
	.single_wrap
		h1(style="padding-left: 15px;") Créez un nouveau compte !
		h4(style="color: red;")
			script(type="text/javascript").
				if(GetErrorString(GetURLParameter('err')))
					document.write(GetErrorString(GetURLParameter('err')))
		+regForm()


