extends layout
include mixins/_tweetForm
include mixins/_squakCard
include mixins/_userCard
block content
	.single_wrap
		nav
			if user && user.lang == 'en'
				a(href="") Squaks
				a(href=`/search?query=${query}&type=users`) Users
			else
				a(href="") Squaks
				a(href=`/search?query=${query}&type=users`) Utilisateurs
			.animation.start-home
		if searchresults[0]
			if user && user.lang == 'en'
				h2 Squaks corresponding to your search :
			else
				h2 Squaks correspondant à votre recherche :
			each squak in searchresults.slice(0, 3)
				+squakCard(squak)
			if userresults[0]
				.userprofiles
					.userprofilesheader
						div
							h3 Profils utilisateur :
						div
							a(href=`/search?query=${query}&type=users`)
								i.fa.fa-plus-circle(style="margin-right: 5px;")
								if user && user.lang == 'en'
									| View more
								else
									| Voir plus
					each user in userresults.slice(0, 3)
						+userCard(user)
			br
			each squak in searchresults.slice(3, searchresults.length)
				+squakCard(squak)

		else
			br
			if user && user.lang == 'en'
				h2 The search didn't return any results.
			else
				h2 La recherche n'a retourné aucun résultat parmi les squaks.
				if userresults[0]
					h3 Profils utilisateur :
					each user in userresults
						+userCard(user).slice(0, 10)
