extends layout
include mixins/_tweetForm
include mixins/_squakCard
include mixins/_userCard
block content
	.single_wrap
		nav
			if user && user.lang == 'en'
				a(href=`/search?query=${query}`) Squaks
				a(href=``) Users
			else
				a(href=`/search?query=${query}`) Squaks
				a(href=``) Utilisateurs
			.animation.start-about
		if searchresults[0]
			br
			if user && user.lang == 'en'
				h2 Users corresponding to your search :
			else
				h2 Utilisateurs correspondant à votre recherche :
			each user in searchresults
				+userCard(user)
		else
			br
			if user && user.lang == 'en'
				h2 The search didn't return any results.
			else
				h2 La recherche n'a retourné aucun résultat.
