extends layout
include mixins/_tweetForm
include mixins/_squakCard
include mixins/_userCard
block content
	.single_wrap
		nav
			if user && user.lang == 'en'
				a(href=`/search?query=${query}&type=user`) Users
				a(href="") Squaks
			else
				a(href=`/search?query=${query}&type=user`) Utilisateurs
				a(href="") Squaks
			.animation.start-about
		if searchresults[0]
			if user && user.lang == 'en'
				h2 Squaks corresponding to your search :
			else
				h2 Squaks correspondant à votre recherche :
			each squak in searchresults
				+squakCard(squak)
		else
			br
			if user && user.lang == 'en'
				h2 The search didn't return any results.
			else
				h2 La recherche n'a retourné aucun résultat.
