extends layout
include mixins/_tweetForm
include mixins/_tweetCard
include mixins/_userCard
block content
	.single_wrap
		if searchresults[0]
			h2 Utilisateurs correspondant à votre recherche :
			each user in searchresults
				+userCard(user)
		else
			h2 La recherche n'a retourné aucun résultat.
