extends layout
block content
	.single_wrap
		if user.lang == 'en'
			nav
				a(href="")
					.sshide General
					.ssshow  settings
				a(href="/settings/account")
					.ssshow Account
					.sshide  settings
				.animation.start-home
			br
			h2 Settings
			form.form(action='/settings' method='POST' enctype='multipart/form-data')
				label(for='lang') Language :
				select(name='lang')
					option(value='en') English
					option(value='fr') Français
				label(for='theme') Color theme :
				br
				.themeswitch
					label(class="switch")
						if user.darkmode
							input(id="themeswitch" class="themecheck" type="checkbox" checked onchange="changeTheme();" name="theme")
						else
							input(id="themeswitch" class="themecheck" type="checkbox" onchange="changeTheme();" name="theme")
						span(class="slider round")
					.currentthemeen
						if user.darkmode
							| Dark
						else
							| Light
				label(for='suggestions') User suggestions :
				if user.suggestions
					select(name='suggestions')
						option(value='true') Enabled
						option(value='false') Disabled
				else
					select(name='suggestions')
						option(value='false') Disabled
						option(value='true') Enabled
				label(for='devmode') Developer mode :
				if user.devmode
					select(name='devmode')
						option(value='true') Enabled
						option(value='false') Disabled
				else
					select(name='devmode')
						option(value='false') Disabled
						option(value='true') Enabled
				input(type='submit' class='button' value='Update')
		else
			nav
				a(href="")
					.ssshow Paramètres
					.sshide  généraux
				a(href="/settings/account")
					.sshide Paramètres de
					.ssshow  compte
				.animation.start-home
			br
			form.form(action='/settings' method='POST' enctype='multipart/form-data')
				h2 Paramètres
				label(for='lang') Langue :
				select(name='lang')
					option(value='fr') Français
					option(value='en') English
				label(for='theme') Thème :
				br
				.themeswitch
					label(class="switch")
						if user.darkmode
							input(id="themeswitch" class="themecheck" type="checkbox" checked onchange="changeTheme();" name="theme")
						else
							input(id="themeswitch" class="themecheck" type="checkbox" onchange="changeTheme();" name="theme")
						span(class="slider round")
					.currenttheme
						if user.darkmode
							| Nuit
						else
							| Jour
				label(for='suggestions') Suggestions d'utilisateurs :
				if user.suggestions
					select(name='suggestions')
						option(value='true') Activées
						option(value='false') Désactivées
				else
					select(name='suggestions')
						option(value='false') Désactivées
						option(value='true') Activées
				label(for='devmode') Mode développeur :
				if user.devmode
					select(name='devmode')
						option(value='true') Activé
						option(value='false') Désactivé
				else
					select(name='devmode')
						option(value='false') Désactivé
						option(value='true') Activé
				input(type='submit' class='button' value='Mettre à jour')
