* {
	box-sizing: border-box;
}

body[data-theme = 'light'] {
	background-color: #2C2F33;
	--wrap-bgcolor: #ffffff;
}

body[data-theme = 'dark'] {
	background-color: #2C2F33;
	--wrap-bgcolor: #373E48;
}

.wrapper {
	width: 1100px;
	max-width: 100%;
	margin: 0 auto;
	/* padding: 10px; */
	display: grid;
	grid-template-columns: 25% 75%;

}


.double_content {
	width: 1000px;
	max-width: 100%;
	margin: 0 auto;
	/* padding: 10px; */
	display: grid;
	grid-template-columns: 25% 600px;
	background-color: var(--wrap-bgcolor);
}

.single_wrap {
	width: 1100px;
	max-width: 100%;
	margin: 0 auto;
	background-color: var(--wrap-bgcolor);
	padding: 20px 50px 30px 50px;
	border-radius: 10px;
}

@media (max-width : 550px) {
	.single_wrap {
		padding: 20px 20px 30px 20px;
	}
}

@media (max-width : 460px) {
	.single_wrap {
		padding: 20px 10px 30px 10px;
	}
}

@media (max-width : 420px) {
	.single_wrap {
		width: 100%;
		padding: 20px 5px 30px 5px;
	}
}

.double_wrap {
	width: 1100px;
	max-width: 100%;
	margin: 0 auto;
	background-color: var(--wrap-bgcolor);
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 20px;
	padding: 20px;
	border-radius: 10px;
}

@media (max-width : 1100px) {
	.double_wrap {
		width: 100%;
		max-width: 100%;
		margin: 0 auto;
		background-color: var(--wrap-bgcolor);
		display: block;
		padding: 20px 5px 30px 5px;
		border-radius: 10px;
	}

}


@media (min-width : 1100px) {
	.single_content {
		width: 800px;
		max-width: 100%;
		margin: 0 auto;
		background-color: var(--wrap-bgcolor);
	}
}






/* Tweet card grid  */
.tweet_card,
.pinned_card {
	display: grid;
	grid-template-columns: 60px auto;
}
