/* Importing the parts of the CSS  */
@import "./css/normalize.css";
@import "./css/grid.css";
@import "./css/themes.css";
@import url('https://rsms.me/inter/inter.css');

/* Main CSS layout goes here  */
body {
	font-size: 1rem;
	font-family: Arial, sans-serif;
	word-break: break-word;
}

body[data-theme='light'] {
	color: #333333;
	--wrap-bgcolor: #ffffff;
	--squak-color: #333333;
	--hover-squak: #efefef;
	--links-color: #113d6c;
	--hashtags-color: #007bff;
	--border-squaks-color: #dddddd;
	--author-name-color: #333333;
	--text-hover-color: #39aeb4;
	--meta-color: #000;
	--liked-color: red;
	--follow-button-color: #88cde3;
	--follow-inside-color: #333333;
	--followed-inside-color: #333333;
	--apiurl-color: rgba(27, 31, 35, 0.05);
	--emoji-bg: #efefeff0;
}

body[data-theme='dark'] {
	color: #CCD5D4;
	--wrap-bgcolor: #373E48;
	--squak-color: #CCD5D4;
	--hover-squak: #454C57;
	--links-color: #97c6f9;
	--hashtags-color: #2d92ff;
	--border-squaks-color: #454C57;
	--author-name-color: #e4e4e4;
	--text-hover-color: #94e0e4;
	--meta-color: #CCD5D4;
	--liked-color: #ce2727;
	--follow-button-color: #69aaf0;
	--follow-inside-color: #69aaf0;
	--followed-inside-color: #373E48;
	--apiurl-color: rgba(240, 246, 252, 0.15);
	--emoji-bg: #454C57F2;
}

img {
	max-width: 100%;
	height: auto;
}

a,
button,
input,
textarea,
input[type='submit']:focus,
button[type='submit']:focus {
	outline: none;
}


/* All input types and textarea restyled  */
input,
textarea {
	border-radius: 5px;
	padding: 5px 7px;
}

.regform {
	padding: 0;
}

@media (max-width : 460px) {
	.regform {
		padding-left: 15px;
	}

}

.form_inline input {
	border: 0;
	margin: 0 10px;
}

.form_inline input[type='submit'] {
	margin: 0;
}

.form input,
.form select,
.form textarea {
	margin: 10px 0;
	border: 1px solid #cccccc;
	display: block;
}

.form input[type='submit'] {
	border: 0;
}

.squak_textarea {
	border: 2px solid #add8e6;
	margin-bottom: 10px;
	resize: vertical;
}

.squak_textarea[name="tweet"] {
	min-height: 90px;
}

.squak_textarea[name="reply"] {
	min-height: 60px;
}

.squak_textarea[name="tweet"],
.tweet_button {
	font-size: 1.3rem;
}

.reply_button,
.edit_button {
	font-size: 1rem;
}


.follow_button {
	font-size: 1.2rem;
	background-color: transparent;
	border-radius: 10px;
	font-weight: bold;
	cursor: pointer;
	border: 5px solid var(--follow-button-color);
	min-width: 100px;
	color: var(--follow-inside-color);
}

.follow_button:hover {
	background-color: var(--follow-button-color);
	color: var(--followed-inside-color);
}

.mini_follow_button {
	font-size: 1rem;
	background-color: transparent;
	border-radius: 8px;
	font-weight: bold;
	cursor: pointer;
	border: 3px solid var(--follow-button-color);
	min-width: 65px;
	height: 25px;
	vertical-align: middle;
	padding: 0px;
	color: var(--follow-inside-color);
	white-space: nowrap;
}


.mini_follow_button:hover {
	background-color: var(--follow-button-color);
	color: var(--followed-inside-color);
}

.followed_button {
	font-size: 1.2rem;
	background-color: var(--follow-button-color);
	border-radius: 10px;
	font-weight: bold;
	cursor: pointer;
	border: 5px solid var(--follow-button-color);
	min-width: 100px;
	color: var(--followed-inside-color);
}

.mini_followed_button {
	font-size: 1rem;
	background-color: var(--follow-button-color);
	border-radius: 8px;
	font-weight: bold;
	cursor: pointer;
	border: 3px solid var(--follow-button-color);
	min-width: 65px;
	height: 25px;
	vertical-align: middle;
	padding: 0px;
	color: var(--followed-inside-color);
	white-space: nowrap;
}

.mini_followed_button:hover {
	color: var(--follow-inside-color);
	background-color: transparent;
}

.followed_button:hover {
	color: var(--follow-inside-color);
	background-color: transparent;
}

/* For all the buttons like login register and tweet  */
.button:not(.follow_button):not(.followed_button):not(.mini_follow_button):not(.mini_followed_button) {
	background-color: #4bd3db;
	padding-left: 10px;
	padding-right: 10px;
	border: 0;
	font-weight: bold;
	cursor: pointer;
	border-radius: 7px;
}

.button:hover:not(.follow_button):not(.followed_button):not(.mini_follow_button):not(.mini_followed_button) {
	background-color: #39aeb4;
}

.form .button {
	margin: 20px 0;
}




/* Header section  */
/**************************************/
.header {
	background-color: #4bd3db;
	min-height: 60px;
	max-height: 60px;
	color: #2C2F33;
	z-index: 20;
	position: fixed;
	/* Set the navbar to fixed position */
	top: 0;
	/* Position the navbar at the top of the page */
	width: 100%;
	max-width: 100%;
}

.site_title {
	margin: 10px 0px;
	color: #2C2F33;
	position: relative;
	display: inline-block;
	font-size: 32px;
}

@media (max-width : 800px) {
	#logo {
		width: 200px;
		height: 60px;
	}
}


@media (max-width : 1120px) {
	.site_title {
		margin: 10px 5px;
		color: #2C2F33;
		position: relative;
		display: inline-block;
	}

	#navigation_bar {
		padding-right: 5px;
	}
}


.site_title a {
	color: #2C2F33;
	text-decoration: none;
}

#navigation_bar {
	text-align: right;
	float: right;
	color: #2C2F33;
}



#flag {
	text-align: right;
}

.nav_link {
	margin: 0 10px 0 20px;
	font-weight: bold;
	color: #2C2F33;
	text-decoration: none;
}

@media (max-width : 1100px) {
	.nav_link {
		margin: 0 5px 0 10px;
	}
}

.nav_link:hover {
	text-decoration: none;
}

/* Login form on top  */
.form_inline {
	margin: 20px 0;
	color: #2C2F33;
}


/* Header avatar  */
.avatar_top {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	/* margin-left: 10px; */
	vertical-align: middle;
}

/* Content Section  */
/***************************************/
.content_area {
	margin-top: 60px;
}

.content {
	background-color: var(--squak-color);
	padding: 20px;
}

/* Home section  */
/* .tweet_avatar {
	display: inline-block;
	float: left;
} */

.tweet_avatar img {
	width: 48px;
	height: 48px;
	border-radius: 50%;
}

.reply_avatar {
	padding-left: 15px;
}

.reply_avatar img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
}





.profile_avatar {
	border-radius: 10px;
	border: 1px solid var(--border-squaks-color);
	width: 240px;
	height: 240px;
	z-index: 99;
}

@media (max-width : 1100px) {
	.profile_avatar {
		position: relative;
		border: 0px;
		width: 120px;
		height: 120px;
		z-index: 2;
	}
}

@media (max-width : 1100px) {
	.profile_section {
		z-index: 99;
		padding-left: 15px;
	}

	.feed_section {
		position: relative;
		left: 0;
	}
}



.profile_banner {
	width: 800px;
	height: 161px;
	box-shadow: 0 0 8px 8px var(--wrap-bgcolor) inset;
}

@media (max-width : 1100px) {
	.profile_banner {
		display: none;
	}
}

/* Feed section  */
.tweet_card, .notification_card {
	padding: 10px;
	border-bottom: 1px solid var(--border-squaks-color);
}

.pinnedsquak {
	border-bottom: 2px solid #2C2F33;
	margin-bottom: 10px;
}

.tweet_card:last-child, .notification_card:last-child {
	border: 0;
}

.tweet_hover:hover {
	background-color: var(--hover-squak);
}



.block {
	position: relative;
}

.block .overlay {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	min-width: 100%;
}

.block .inner {
	position: relative;
	pointer-events: none;
	z-index: 1;
}

.block .inner a {
	pointer-events: all;
	position: relative;
}




.author_name,
.tweet_meta {
	margin: 0;
}

.author_name a {
	color: var(--author-name-color);
	text-decoration: none;
}

.author_name a:hover:not(.author_username) {
	color: var(--text-hover-color);
	text-decoration: none;
}

.author_username {
	margin-right: 10px;
}

.reply_author_name a {
	color: var(--author-name-color);
	text-decoration: none;
}

.reply_author_name a:hover:not(.author_username) {
	color: var(--text-hover-color);
	text-decoration: none;
}

.the_tweet {
	font-size: 1.3rem;
	margin: 5px 0;
	color: var(--squak-color)
}

@media (max-width : 460px) {
	.the_tweet {
		font-size: 1.2rem;
	}
}

@media (max-width : 420px) {
	.the_tweet {
		font-size: 1.1rem;
	}
}

.the_reply {
	font-size: 1.2rem;
	margin: 5px 0;
	color: var(--squak-color)
}

.the_bio {
	font-size: 1.1rem;
	margin: 5px 0;
	color: var(--squak-color)
}

.welcome,
.feedtext {
	font-family: Inter;
}


@media (max-width : 480px) {
	.welcome {
		font-size: 15px;
		padding-left: 15px;
	}
}

@media (max-width : 365px) {
	.welcome {
		font-size: 14px;
	}
}

.heart,
.pin {
	padding: 0;
	border: none;
	background: none;
	font-size: 1rem;
}


.hearted,
.pinned {
	color: var(--liked-color);
}

.tweet_meta {
	font-size: 1rem;
	color: var(--meta-color);
}

.tweet_meta button:not(.hearted):not(.pinned) {
	font-size: 1rem;
	color: var(--meta-color);
}

.tweet_meta a {
	color: inherit;
	text-decoration: none;
}

/* Single tweet page  */
.single_tweet {
	font-size: 1.5rem;
}

@media (max-width : 1100px) {
	.single_tweet {
		font-size: 1.5rem;
		padding-left: 15px;
	}
}

/* Tweet form styles  */
.tweet_text textarea {
	width: 100%;
}

.tweet_text {
	position: relative;
}

.icon-user,
.icon-user-2,
.icon-user-3,
.emojiMenu {
	color: #000;
	position: absolute;
	width: 20px;
	height: 20px;
	bottom: 50px;
}

.reply-icon-user,
.reply-icon-user-2,
.reply-icon-user-3 {
	color: #000;
	position: absolute;
	width: 20px;
	height: 20px;
	bottom: 40px;
	opacity: 0.9;
}

.icon-user,
.reply-icon-user {
	left: 10px;
}

.icon-user-2,
.reply-icon-user-2 {
	left: 40px;
}

.icon-user-3,
.reply-icon-user-3 {
	left: 70px;
}

.emojiMenu {
	left: 100px;
	z-index: 99;
}

@media (pointer:coarse) {
	.icon-user-3,
	.reply-icon-user-3,
	.emojiMenu {
		display: none;
	}
}

@media (max-width : 565px) {
	.icon-user-3,
	.reply-icon-user-3,
	.emojiMenu {
		display: none;
	}
}

@media (min-width : 900px) {
	.icon-user-3,
	.reply-icon-user-3,
	.emojiMenu {
		display: block;
	}
}

.emojiMenu emoji-picker {
	--background: var(--emoji-bg);
	--outline-size: 0;
}

.icon-user-3 i::before {
	font-size: 20px;
}

.reply-icon-user-3 i::before {
	font-size: 18.5px;
}

.emojiMenu:not(.shown) {
	display: none;
}

.outputfile {
	position: absolute;
	left: 70px;
	bottom: 51px;
	color: #373E48;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.outputfilerep {
	position: absolute;
	left: 70px;
	bottom: 42px;
	color: #373E48;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}


.video-mask {
	max-width: 350px;
	border-radius: 10px;
	overflow: hidden;
}

.video-mask-single {
	width: 70%;
	border-radius: 10px;
	overflow: hidden;
}

.video-mask-reply {
	width: 300px;
	border-radius: 10px;
	overflow: hidden;
}



.squakimg {
	max-width: 350px;
	height: 200px;
	background-position: center;
	/* Make the background image cover the area of the <div>, and clip the excess */
	background-size: cover;
	border-radius: 10px;
	border: 1px solid #000;
}




.maxheight {
	max-height: 405px;
	overflow: auto;
}

.maxheightreply {
	position: relative;
	height: 100%;
	max-height: 350px;
	overflow: auto;
}



/* Footer section  */
.footer {
	text-align: center;
	color: #ffffff;
	text-decoration: none;
}


/* Dropdown account menu  */

/* Style The Dropdown Button */
.dropbtn {
	color: white;
	padding: 5px 10px;
	/* padding-bottom: 0; */
	/* font-size: 16px; */
	border: none;
	cursor: pointer;
	/* border-top-right-radius: 50%;
		border-top-left-radius: 50%; */
}

@media (max-width : 1100px) {
	.dropbtn {
		padding: 5px 5px;
	}
}


.dropbtn a {
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
	z-index: 99;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	right: 0;
	text-align: left;
	background-color: #f9f9f9;
	min-width: 200px;
	padding: 5px;
	z-index: 99;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	min-width: 400px;
}

@media (max-width : 395px) {
	.dropdown-content a {
		min-width: 50%;
	}
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #dddddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	background-color: #ffffff;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropbtn a {
	color: #333333;
}

nav {

	margin: 27px auto 0;

	position: relative;
	width: 100%;
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
	z-index: 0;
}

nav a:nth-child(1) {
	width: 50%;
	z-index: 1;
}

nav a:nth-child(2) {
	width: 50%;
	z-index: 1;
}

nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 0;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
	font-weight: bold;
}

nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}

nav .start-home,
a:nth-child(1):hover~.animation {
	width: 50%;
	left: 0;
	background-color: #39aeb4;
	z-index: 0;
}

nav .start-about,
a:nth-child(2):hover~.animation {
	width: 50%;
	left: 50%;
	background-color: #39aeb4;
	z-index: 0;
}



.search {
	width: 1100px;
	max-width: 100%;
	margin: 0 auto;
	z-index: 0;
}

@media (max-width : 1120px) {
	.search {
		padding-left: 5px;
	}
}


.searchTerm {
	width: 225px;
	border: 2px solid #00B4CC;
	border-bottom: 0px;
	border-right: none;
	padding: 3px 3px 3px 10px;
	height: 37px;
	border-radius: 5px 0 0 5px;
	outline: none;
	color: #83c7c4;
	display: inline-block;
	z-index: 0;
	font-weight: bold;
}

.searchTerm:focus {
	color: #00B4CC;
}

.searchButton {
	width: 40px;
	height: 36px;
	border: 0px solid #00B4CC;
	border-bottom: 1px solid #00B4CC;
	background: #00B4CC;
	text-align: center;
	color: #fff;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 20px;
	display: inline-block;
}

mark {
	background-color: #6df1f8;
}

.notification,
.emptynotification {
	right: 0px;
	position: relative;
	display: inline-block;
}

.notification a,
.emptynotification a {
	text-decoration: none;
	color: #000
}

.notification i {
	position: fixed;
	font-size: 22px;
}

.emptynotification i {
	position: relative;
	font-size: 22px;
	top: 3px;
	left: 1px;
}

@media (max-width : 400px) {
	.emptynotification {
		visibility: hidden;
	}
}

.counter {
	background: red;
	border-radius: 0.8em;
	-moz-border-radius: 0.8em;
	-webkit-border-radius: 0.8em;
	color: #ffffff;
	display: inline-block;
	font-weight: bold;
	line-height: 1.3em;
	text-align: center;
	width: 1.3em;
	position: relative;
	bottom: 10px;
	left: 10px;
}

.alinks {
	text-decoration: none;
	color: var(--links-color);
}

.apilinks {
	text-decoration: underline;
	font-weight: bold;
	color: var(--hashtags-color);
}

.mentions {
	text-decoration: none;
	color: var(--hashtags-color);
}

.user_website {
	color: var(--links-color);
	text-decoration: none;
	font-weight: bold;
	word-break: break-all;
}

.followcount {
	text-decoration: none;
	color: var(--author-name-color);
}

.notifreadmark {
	display: none;
}

.notifreadmark:first-of-type {
	display: block;
}

.notif_date {
	font-size: 0.9rem;
	display: flex;
  	justify-content: right;
  	align-items: center;
}

@media (max-width : 520px) {
	.sshide {
		display: none;
	}
}

@media (min-width : 520px) {

	.ssshow,
	.sshide {
		display: inline;
	}
}

.verificationbadge {
	padding: 0px 0px 0px 5px;
	position: relative;
	bottom: -1px;
}

.connexionLink {
	font-size: 1rem;
	font-family: Inter;
	color: #2C2F33
}

@media (max-width : 380px) {
	.connexionLink {
		font-size: 0.9rem;
	}
}

@media (max-width : 360px) {
	.connexionLink {
		font-size: 0.8rem;
	}
}

.follows_you {
	border: 3px solid var(--squak-color);
	opacity: .7;
	border-radius: 8px;
	padding: 3px;
	margin-right: 5px;
	font-size: 12px;
	min-width: 65px;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	cursor: initial;
	white-space: nowrap;
	display: inline-block;
	text-align: center;
}

.APIurl code {
	padding: .2em .4em;
	margin: 0;
	font-size: 23px;
	background-color: var(--apiurl-color);
	border-radius: 6px;
}
