/* Importing the parts of the CSS  */
@import "./css/normalize.css";
@import "./css/grid.css";
@import url('https://rsms.me/inter/inter.css');

/* Main CSS layout goes here  */
body {
	font-size: 1rem;
	font-family: Arial, sans-serif;
	word-break: break-word;
	color: #333333;
}

img {
	max-width: 100%;
	height: auto;
}

/* All input types and textarea restyled  */
input,
textarea {
	border-radius: 5px;
	padding: 5px 7px;
}

.regform {
	padding: 0;
}

@media (max-width : 460px) {
	.regform {
		padding-left: 15px;
	}

}

.form_inline input {
	border: 0;
	margin: 0 10px;
}

.form_inline input[type='submit'] {
	margin: 0;
}

.form input,
.form select,
.form textarea {
	margin: 10px 0;
	border: 1px solid #cccccc;
	display: block;
}

.form input[type='submit'] {
	border: 0;
}

.tweet_textarea {
	/* padding: 5px 7px; */
	border: 2px solid #add8e6;
	margin-bottom: 10px;
}

.reply_textarea {
	/* padding: 5px 7px; */
	border: 2px solid #add8e6;
	margin-bottom: 10px;
	min-height: 50px;
}

.tweet_textarea,
.tweet_button {
	font-size: 1.3rem;
}

.reply_button {
	font-size: 1rem;
}

.edit_button {
	font-size: 1rem;
}

.follow_button {
	font-size: 1.2rem;
	background-color: transparent;
	border-radius: 10px;
	font-weight: bold;
	cursor: pointer;
	border: 5px solid #69aaf0;
	width: 100px;
}

.follow_button:hover {
	background-color: #69aaf0;
}

.mini_follow_button {
	font-size: 1rem;
	background-color: transparent;
	border-radius: 8px;
	font-weight: bold;
	cursor: pointer;
	border: 3px solid #69aaf0;
	width: 70px;
	height: 25px;
	vertical-align: middle;
	padding: 0px;
}

.mini_follow_button:hover {
	background-color: #69aaf0;
}

.followed_button {
	font-size: 1.2rem;
	background-color: rgba(105, 170, 240, .9);
	border-radius: 10px;
	font-weight: bold;
	cursor: pointer;
	border: 5px solid #69aaf0;
	width: 100px;
}

.mini_followed_button {
	font-size: 1rem;
	background-color: rgba(105, 170, 240, .9);
	border-radius: 8px;
	font-weight: bold;
	cursor: pointer;
	border: 3px solid #69aaf0;
	width: 70px;
	height: 25px;
	vertical-align: middle;
	padding: 0px;
}

.mini_followed_button:hover {
	background-color: transparent;
}

.followed_button:hover {
	background-color: transparent;
}

/* For all the buttons like login register and tweet  */
.button:not(.follow_button):not(.followed_button):not(.mini_follow_button):not(.mini_followed_button) {
	background-color: #4bd3db;
	padding-left: 10px;
	padding-right: 10px;
	border: 0;
	font-weight: bold;
	cursor: pointer;
	border-radius: 7px;
}

.button:hover:not(.follow_button):not(.followed_button):not(.mini_follow_button):not(.mini_followed_button) {
	background-color: #39aeb4;
}

.form .button {
	margin: 20px 0;
}




/* Header section  */
/**************************************/
.header {
	background-color: #4bd3db;
	min-height: 60px;
	max-height: 60px;
	color: #2C2F33;
	z-index: 20;
	position: fixed;
	/* Set the navbar to fixed position */
	top: 0;
	/* Position the navbar at the top of the page */
	width: 100%;
	max-width: 100%;
}

.site_title {
	margin: 10px 0px;
	color: #2C2F33;
	position: relative;
	display: inline-block;
	font-size: 32px;
}

@media (max-width : 800px) {
	#logo {
		width: 200px;
		height: 60px;
	}
}


@media (max-width : 1100px) {
	.site_title {
		margin: 10px 5px;
		color: #2C2F33;
		position: relative;
		display: inline-block;
	}
	#navigation_bar {
		padding-right: 5px;
	}
}


.site_title a {
	color: #2C2F33;
	text-decoration: none;
}

#navigation_bar {
	text-align: right;
	float: right;
	color: #2C2F33;
}



#flag {
	text-align: right;
}

.nav_link {
	margin: 0 10px 0 20px;
	font-weight: bold;
	color: #2C2F33;
	text-decoration: none;
}

@media (max-width : 1100px) {
	.nav_link {
		margin: 0 5px 0 10px;
	}
}

.nav_link:hover {
	text-decoration: none;
}

/* Login form on top  */
.form_inline {
	margin: 20px 0;
	color: #2C2F33;
}


/* Header avatar  */
.avatar_top {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	/* margin-left: 10px; */
	vertical-align: middle;
}

/* Content Section  */
/***************************************/
.content_area {
	margin-top: 60px;
}

.content {
	background-color: #ffffff;
	padding: 20px;
}

/* Home section  */
/* .tweet_avatar {
	display: inline-block;
	float: left;
} */

.tweet_avatar img {
	width: 48px;
	height: 48px;
	border-radius: 50%;
}

.reply_avatar {
	padding-left: 15px;
}

.reply_avatar img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
}





.profile_avatar {
	border-radius: 10px;
	border: 1px solid #dddddd;
	width: 240px;
	height: 240px;
	z-index: 99;
}

@media (max-width : 1100px) {
	.profile_avatar {
		position: relative;
		border: 0px;
		width: 120px;
		height: 120px;
		z-index: 2;
	}
}

@media (max-width : 1100px) {
	.profile_section {
		z-index: 99;
		padding-left: 15px;
	}

	.feed_section {
		position: relative;
		left: 0;
	}
}



.profile_banner {
	width: 800px;
	height: 161px;
	box-shadow: 0 0 8px 8px white inset;
}

@media (max-width : 1100px) {
	.profile_banner {
		display: none;
	}
}

/* Feed section  */
.tweet_card {
	padding: 10px;
	border-bottom: 1px solid #dddddd;
}

.pinned_card {
	padding: 10px 10px 20px 10px;
	border-bottom: 2px solid #2C2F33;
}

.tweet_card:last-child {
	border: 0;
}

.tweet_hover:hover {
	background-color: #efefef;
}



.block {
	position: relative;
}

.block .overlay {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	min-width: 100%;
}

.block .inner {
	position: relative;
	pointer-events: none;
	z-index: 1;
}

.block .inner a {
	pointer-events: all;
	position: relative;
}




.author_name,
.tweet_meta {
	margin: 0;
}

.author_name a {
	color: #333333;
	text-decoration: none;
}

.author_name a:hover {
	color: #39aeb4;
	text-decoration: underline;
}

.reply_author_name a {
	color: #333333;
	text-decoration: none;
}

.reply_author_name a:hover {
	color: #39aeb4;
	text-decoration: underline;
}

.the_tweet {
	font-size: 1.3rem;
	margin: 5px 0;
}

.the_reply {
	font-size: 1.2rem;
	margin: 5px 0;
}

.the_bio {
	font-size: 1.1rem;
	margin: 5px 0;
}

.welcome,
.feedtext {
	font-family: Inter;
}


@media (max-width : 460px) {
	.welcome {
		font-size: 15px;
		padding-left: 15px;
	}
}

.heart,
.pin {
	background-color: rgba(255, 255, 255, 0);
	padding: 0;
	border: none;
	background: none;
	font-size: 1rem;
}


.hearted,
.pinned {
	color: red;
}

.tweet_meta {
	font-size: 1rem;
	color: #000;
}

.tweet_meta a {
	color: inherit;
	text-decoration: none;
}

.tweet_meta a:hover {
	text-decoration: underline;
	color: #39aeb4;
}

/* Single tweet page  */
.single_tweet {
	font-size: 1.5rem;
}

@media (max-width : 1100px) {
	.single_tweet {
		font-size: 1.5rem;
		padding-left: 15px;
	}
}

/* Tweet form styles  */
.tweet_text textarea {
	width: 100%;
}

.tweet_text {
	position: relative;
}

.icon-user {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 10px;
	bottom: 50px;
}

.icon-user-2 {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 40px;
	bottom: 50px;
}

.outputfile {
	position: absolute;
	left: 70px;
	bottom: 50px;
}

.reply-icon-user {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 10px;
	bottom: 40px;
	opacity: 0.9;
}

.reply-icon-user-2 {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 40px;
	bottom: 40px;
	opacity: 0.9;
}

.video-mask {
	width: 350px;
	border-radius: 10px;
	overflow: hidden;
}

.video-mask-single {
	width: 70%;
	border-radius: 10px;
	overflow: hidden;
}

.video-mask-reply {
	width: 300px;
	border-radius: 10px;
	overflow: hidden;
}



.squakimg {
	width: 350px;
	height: 200px;
	background-position: center;
	/* Make the background image cover the area of the <div>, and clip the excess */
	background-size: cover;
	border-radius: 10px;
	border: 1px solid #000;
}

@media (max-width : 1100px) {
	.squakimg {
		width: 100%;
	}
}


.maxheight {
	max-height: 405px;
	overflow: auto;
}

.maxheightreply {
	position: relative;
	height: 100%;
	max-height: 350px;
	overflow: auto;
}



/* Footer section  */
.footer {
	text-align: center;
	color: #ffffff;
	text-decoration: none;
}


/* Dropdown account menu  */

/* Style The Dropdown Button */
.dropbtn {
	color: white;
	padding: 5px 10px;
	/* padding-bottom: 0; */
	/* font-size: 16px; */
	border: none;
	cursor: pointer;
	/* border-top-right-radius: 50%;
		border-top-left-radius: 50%; */
}

@media (max-width : 1100px) {
	.dropbtn {
		padding: 5px 5px;
	}
}


.dropbtn a {
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
	z-index: 99;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	right: 0;
	text-align: left;
	background-color: #f9f9f9;
	min-width: 200px;
	padding: 5px;
	z-index: 99;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	min-width: 400px;
}

@media (max-width : 395px) {
	.dropdown-content a {
		min-width: 50%;
	}
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #dddddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	background-color: #ffffff;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropbtn a {
	color: #333333;
}

nav {

	margin: 27px auto 0;

	position: relative;
	width: 100%;
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
	z-index: 0;
}

nav a:nth-child(1):not(.dropdown-content) {
	width: 50%;
	z-index: 1;
}

nav a:nth-child(2):not(.dropdown-content) {
	width: 50%;
	z-index: 1;
}

nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 0;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}

nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}

nav .start-home,
a:nth-child(1):hover~.animation {
	width: 50%;
	left: 0;
	background-color: #39aeb4;
	z-index: 0;
}

nav .start-about,
a:nth-child(2):hover~.animation {
	width: 50%;
	left: 50%;
	background-color: #39aeb4;
	z-index: 0;
}



.search {
	width: 1100px;
	max-width: 100%;
	margin: 0 auto;
	z-index: 0;
}

@media (max-width : 1100px) {
	.search {
		padding-left: 5px;
	}
}


.searchTerm {
	width: 225px;
	border: 2px solid #00B4CC;
	border-bottom: 0px;
	border-right: none;
	padding: 5px;
	height: 37px;
	border-radius: 5px 0 0 5px;
	outline: none;
	color: #9DBFAF;
	display: inline-block;
	z-index: 0;
}

.searchTerm:focus {
	color: #00B4CC;
}

.searchButton {
	width: 40px;
	height: 36px;
	border: 0px solid #00B4CC;
	border-bottom: 1px solid #00B4CC;
	background: #00B4CC;
	text-align: center;
	color: #fff;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 20px;
	display: inline-block;
}

.notification, .emptynotification {
	right: 0px;
	position: relative;
	display: inline-block;
}

.notification a, .emptynotification a {
	text-decoration: none;
	color: #000
}

@media (max-width : 400px) {
	.emptynotification {
		visibility: hidden;
	}
}

.counter {
	background: red;
	border-radius: 0.8em;
	-moz-border-radius: 0.8em;
	-webkit-border-radius: 0.8em;
	color: #ffffff;
	display: inline-block;
	font-weight: bold;
	line-height: 1.3em;
	text-align: center;
	width: 1.3em;
	position: relative;
	bottom: 10px;
	right: 5px;
}
