mixin footer()
	p
		small(style="font-size: 14px;")
			| © 2020 Squakr &middot; v1.10.1
			br
			a(href='https://discord.gg/C8WPK2B' target='_blank' style="text-decoration: none; color: #fff; margin: 0 7px") Discord

			a(href='https://github.com/Nathn/Squakr' target='_blank' style="text-decoration: none; color: #fff; margin: 0 7px") Github

			a(href='https://twitter.com/Squakr_fr' target='_blank' style="text-decoration: none; color: #fff; margin: 0 7px") Twitter

			a(href='/cgu' target='_blank' style="text-decoration: none; color: #fff; margin: 0 7px") CGU
			br
