mixin loginForm()

	form.form(action='/login' method='POST')
		.regform
			label(for='email')  Email :
			input(type='email' name='email' autocomplete='email')
			label(for='password') Mot de passe :
			input(type='password' name='password' autocomplete='current-password')
			input(type='submit' class='button' value='Se connecter')
	a.login_link(href='/register') Pas encore inscrit ?
	//- a.login_link(href='/reset') Mot de passe oublié ?
