mixin regForm()

	form.form(action='/register' method='POST')
		.regform
			label(for='username') Nom d'utilisateur :
			br
			small Username :
			input(type='text' name='username' autocomplete='username' required)
			br
			label(for='email') Adresse email :
			br
			small Email adress :
			input(type='email' name='email' autocomplete='email' required)
			br
			label(for='password') Mot de passe :
			br
			small Password :
			input(type='password' name='password' autocomplete='new-password' required)
			br
			label(for='password-confirm') Confirmez votre mot de passe :
			br
			small Confirm your password :
			input(type='password' name='password-confirm' autocomplete='new-password' required)
			br
			label(for='lang') Langue :
			br
			small Language :
			select(name='lang')
				option(value='fr') Français
				option(value='en') English
			input(type='submit' class='button' value='Créer un compte')





