mixin regForm()

	form.form(action='/register' method='POST')

			label(for='username') Nom d'utilisateur:
			input(type='text' name='username' required)
			label(for='email') Adresse email :
			input(type='email' name='email' required)
			label(for='password') Mot de passe :
			input(type='password' name='password' required)
			label(for='password-confirm') Confirmez votre mot de passe :
			input(type='password' name='password-confirm' required)
			input(type='submit' class='button' value='Créer un compte')





