mixin replyForm(reqSquak)
	form.tweet_card(action=`/api/tweets/${reqSquak._id}/reply` method='POST')
		.reply_avatar
			img(src=`${user.avatar || '/uploads/no-avatar.jpg'}`)
		.tweet_text
			textarea(name='reply' class='reply_textarea' placeholder='Exprimez-vous...' maxlength="1024" rows='1' required)
			.reply_button
				input(type='submit' class='button reply_button' value='Répondre')
