mixin nweetForm()
	form.nweet_card(action='/nweet' method='POST')
		.nweet_avatar
			img(src=`/uploads/${user.avatar || 'no-avatar.jpg'}`)
		.nweet_text
			textarea(name='nweet' class='nweet_textarea' placeholder='Exprimez-vous...' maxlength="128000" rows='3' required)
			.nweet_button
				input(type='submit' class='button nweet_button' value='Nweet')
