mixin tweetForm()
	form.tweet_card(action='/nweet' method='POST')
		.tweet_avatar
			img(src=`${user.avatar || '/uploads/no-avatar.jpg'}`)
		.tweet_text
			.nweet_textarea
				textarea(name='tweet' class='tweet_textarea' placeholder='Exprimez-vous...' maxlength="1024" rows='3' required)
				.icon-user
					<img src="https://cdn3.iconfinder.com/data/icons/summer-beach-4/32/Summer_Icon-12-512.png" draggable="false">
				.image-input
					input(type='url' name='image')
			.tweet_button
				input(type='submit' class='button tweet_button' value='Nweet')
