mixin tweetForm()
	form.tweet_card(action='/squak' method='POST' enctype='multipart/form-data')
		.tweet_avatar
			img(src=`${user.avatar || '/uploads/no-avatar.jpg'}`)
		.tweet_text
			if user.lang == 'en'
				.tweetform_textarea
					textarea(name='tweet' class='tweet_textarea' placeholder='Share your thoughts...' maxlength="1024" rows='3' )
				.icon-user
					label(for="uploadimg")
						i.fa.fa-image.icon-pic(style="cursor: pointer;" title="Add an image")
					input(type="file" name="image" style="display: none;" id="uploadimg" accepts='image/*' onchange="")
				.icon-user-2
					label(for="uploadvideo")
						i.fa.fa-film(style="cursor: pointer;" title="Ajouter une vidéo")
					input(type="file" name="video" style="display: none;" id="uploadvideo" accepts='video/*' onchange="")
			else
				.tweetform_textarea
					textarea(name='tweet' class='tweet_textarea' placeholder='Exprimez-vous...' maxlength="1024" rows='3' )
				.icon-user
					label(for="uploadimg")
						i.fa.fa-image.icon-pic(style="cursor: pointer;" title="Ajouter une image")
					input(type="file" name="image" style="display: none;" id="uploadimg" accepts='image/*' onchange="")
				.icon-user-2
					label(for="uploadvideo")
						i.fa.fa-film(style="cursor: pointer;" title="Ajouter une vidéo")
					input(type="file" name="video" style="display: none;" id="uploadvideo" accepts='video/*' onchange="")

			.tweet_button
				input(type='submit' class='button tweet_button' value='Squak')
